.friend_list {
	width: 400px;
	margin-left: 38%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.item {
  display: flex;
  align-items: center;
  margin: 20px;
  box-shadow: 0 0 1em;
  border-radius: 3px;
  border: 1px solid #f30404;
  background-color: black;
}

 
.statusOnline,
.statusOffline {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin: 0 15px 0 15px;
}

.statusOffline {
    background-color: red;
}

.avatar {
    border-radius: 10px;
    margin: 10px;
}

.name {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
}